@media screen and (max-width: 412px) {
  .employee-container {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    background-size: cover;
    height: 100vh;
  }

  .help-logo-container {
    display: flex;
    flex-direction: column;
  }

  .help-image {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: 20px;
    align-self: flex-end;
    opacity: 1;
  }

  .logo-image {
    width: 71px;
    height: 70px;
    align-self: center;
  }
}
